<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
  <mapper namespace="com.java.review.dao.mapper.ReviewMapper">
  
  <select id="reviewCount" resultType="int">
  		SELECT COUNT(*) FROM Review
  </select>
  
  <insert id="reviewInsert" parameterType="com.java.review.dto.ReviewDto">
  	INSERT INTO review(RVnumber, Mid, RTnumber, RVtitle, RVcontent, RVcount, RVdate)
  	VALUES(Review_RVnumber_seq, ${Mid}, ${RTnumber}, ${RVtitle}, ${RVcontent}, ${RVcount}, SYSDATE)
  </insert>
  
  </mapper>